---

- name: Create volumes directory
  file:
    state: directory
    path: "{{ openshift_localstorage_basedir }}"
    seuser: unconfined_u
    serole: object_r
    setype: container_file_t

- name: Create custom volumes directories
  file:
    state: directory
    path: "{{ item }}"
    seuser: unconfined_u
    serole: object_r
    setype: container_file_t
  loop: "{{ openshift_localstorage_custom_dirs }}"

- name: Create volumes
  shell: echo {0..{{ openshift_localstorage_num_volumes }}} | xargs -d ' ' -n 1 -I '{}' mkdir -p '{{ openshift_localstorage_basedir }}/vol{}'
  args:
    creates: "{{ openshift_localstorage_basedir }}/vol{{ openshift_localstorage_num_volumes - 1}}"
