---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: local-{{ item }}-<name>
spec:
  capacity:
    storage: {{ openshift_localstorage_capacity }}
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: local-storage
  local:
    path: {{ openshift_localstorage_basedir }}/<name>
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ item }}
